<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.heavyplus.dao.CategoryDAO">

	<insert id="create">
		insert into BBS_CATEGORY (category) values (#{category})
	</insert>

	<select id="read" resultType="CategoryDTO">
		select * from BBS_CATEGORY where category_id = #{categoryId}
	</select>
	
	<update id="update">
		update BBS_CATEGORY set category=#{category}, update_date=SYSDATE 
		where category_id = #{categoryId}
	</update>
	
	<delete id="delete"> 
		delete from BBS_CATEGORY where category_id = #{categoryId} 
	</delete>
	
	<select id="listAll" resultType="CategoryDTO">
		<![CDATA[ select * from BBS_CATEGORY where category_id > 0 order by category_id desc ]]>
	</select>
	
</mapper>

<!-- 
* 쿼리문에 특수문자가 있을 때 하나의 스트링으로 처리하는 기호
<![CDATA[
	////////////
]]>
 -->